
<table mat-table [dataSource]="refundStorage.refund_dataSource()" class="mat-elevation-z8" matSort
    (matSortChange)="announceSortChange($event)">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                [checked]="refundStorage.refund_selection().hasValue() && isAllSelected()"
                [indeterminate]="refundStorage.refund_selection().hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? refundStorage.refund_selection().toggle(row) : null"
                [checked]="refundStorage.refund_selection().isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

        <!-- Idbalance Column -->
        <ng-container matColumnDef="idrefund">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by idbrefund"> Refund </th>
            <td mat-cell *matCellDef="let element"> {{element.idrefund}} </td>
            <td mat-footer-cell *matFooterCellDef> - </td>
        </ng-container>
    

    <!--  amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Amount"> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount  | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!--  currentBalance Column -->
    <ng-container matColumnDef="currentBalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by currentBalance"> Current Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.current_balance  | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Idbalance Column -->
    <ng-container matColumnDef="idbalance_payee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by idbalance_payee"> No. Payee </th>
        <td mat-cell *matCellDef="let element"> {{element.payee.idbalance}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name_payee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name_payee"> Payee </th>
        <td mat-cell *matCellDef="let element"> {{element.payee.name}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount_payee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount_payee"> Amount Payee </th>
        <td mat-cell *matCellDef="let element"> {{element.payee.amount | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance_payee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by balance_payee"> Balance Payee </th>
        <td mat-cell *matCellDef="let element"> {{element.payee.balance | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Positive Current Balance Column -->
    <ng-container matColumnDef="positive_balance_payee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by positive_balance_payee"> Positive Balance Payee </th>
        <td mat-cell *matCellDef="let element">{{element.payee.positive_balance | currency}}</td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

   <!-- Current Balance Column -->
   <ng-container matColumnDef="current_balance_payee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by current_balance_payee">Current Balance Payee</th>
    <td mat-cell *matCellDef="let element"> {{element.payee.current_balance | currency}} </td>
    <td mat-footer-cell *matFooterCellDef>-</td>
  </ng-container>


    <!-- Free Column -->
    <ng-container matColumnDef="free_payee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by free_payee"> Free  Payee</th>
        <td mat-cell *matCellDef="let element">
            @if (element.payee.free) {
            <mat-icon aria-hidden="false" aria-label="icon" fontIcon="done"></mat-icon>
            } @else {
            <mat-icon aria-hidden="false" aria-label="icon" fontIcon="close"></mat-icon>
            }
        </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Idbalance Column -->
    <ng-container matColumnDef="idbalance_payer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by idbalance_payer"> No. Payer </th>
        <td mat-cell *matCellDef="let element"> {{element.payer.idbalance}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name_payer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name_payer"> Payer </th>
        <td mat-cell *matCellDef="let element"> {{element.payer.name}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>


    <!-- Amount Column -->
    <ng-container matColumnDef="amount_payer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount_payer"> Amount Payer </th>
        <td mat-cell *matCellDef="let element"> {{element.payer.amount | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance_payer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by balance_payer"> Balance Payer </th>
        <td mat-cell *matCellDef="let element"> {{element.payer.balance | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Positive Current Balance Column -->
    <ng-container matColumnDef="positive_balance_payer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by positive_balance_payer"> Positive Balance Payer </th>
        <td mat-cell *matCellDef="let element">{{element.payer.positive_balance | currency}}</td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

        <!-- Positive Current Balance Column -->
        <ng-container matColumnDef="current_balance_payer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by current_balance_payer"> Current Balance Payer </th>
            <td mat-cell *matCellDef="let element">{{element.payer.current_balance | currency}}</td>
            <td mat-footer-cell *matFooterCellDef> - </td>
        </ng-container>
    

    <!-- Free Column -->
    <ng-container matColumnDef="free_payer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by free_payer"> Free  Payer</th>
        <td mat-cell *matCellDef="let element">
            @if (element.payer.free) {
            <mat-icon aria-hidden="false" aria-label="icon" fontIcon="done"></mat-icon>
            } @else {
            <mat-icon aria-hidden="false" aria-label="icon" fontIcon="close"></mat-icon>
            }
        </td>
        <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="refundStorage.refund_selection().toggle(row)">
    </tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
</table>