<div style="width: 98%;text-align: right;">
  Rachadinha {{version}} for Embiro created by Surungo</div>
<div class="fixed-bottom">
  <br>
  @if(showDevMode()) {
  <mat-form-field appearance="outline" class="fields">
    <mat-label>idbalance</mat-label>
    <input  [formControl]="idbalance" matInput placeholder="" >
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  }
  <mat-form-field appearance="outline" class="fields">
    <mat-label>Name</mat-label>
    <input  [formControl]="name" matInput placeholder="">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" class="fields amount-form-field">
    <mat-label>Amount</mat-label>

    <input  [formControl]="amount" 
    currencyMask
    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      matInput 
    type="text" 
    class="main-right-align"
    placeholder="0">
  </mat-form-field>
  <mat-slide-toggle [formControl]="free">Free</mat-slide-toggle>
  <br>
  <button mat-raised-button [hidden]="hiddenEditItem()" 
  (click)="btnEditItem()">Edit select itens</button>
  @if(!hiddenClearFiels()) {
    @if(showNew()){
      <button mat-raised-button  
      (click)="btnSubstData()">New amount</button>
    }
    @else{
      <button mat-raised-button 
      (click)="btnSubstData()">Subst amount</button>
      <button mat-raised-button 
      (click)="btnAddData()">Add amount</button>
      <button mat-raised-button 
      (click)="btnDecreaseData()">Decrease amount</button>
    }
  } 

  <button mat-raised-button [hidden]="hiddenNotSelected()" 
  (click)="btnRemoveItem()">Remove select itens</button>
  <button mat-raised-button [hidden]="hiddenClearFiels()" 
  (click)="btnClearFields()">Clear fields</button>
 
  
 
</div>
@if(isMobile){
<mat-tab-group>
  <mat-tab label="Balance">
    
    <br>
    <br>
    <app-balance-component />
  
  </mat-tab>

  <mat-tab label="Refund"> 
 
    <br>
    <br>
    <app-refund-component />
    
  </mat-tab>  
 
</mat-tab-group>
}
@else {
  <table width="100%">
    <tr>
      <td align="center">
        Balance
      </td>
      <td align="center">
        Refund
      </td>
    </tr>
    <tr>
      <td>
        <app-balance-component />
      </td>
      <td>
        <app-refund-component />
      </td>
    </tr>
  </table>
}
<br>
<br>
<button mat-raised-button [hidden]="balanceStorage.balance_dataToDisplay().length<=0" (click)="btnRemoveData()">Clear table</button>
<br>
<button mat-raised-button [hidden]="balanceStorage.balance_dataToDisplay().length<=0" (click)="btnSolverRefund()">Solver Refund</button>  