v24021611

<div class="demo-button-container ">
  <mat-form-field appearance="outline" class="demo-button">
    <mat-label>Name</mat-label>
    <input  [formControl]="name" matInput placeholder="">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" class="demo-button amount-form-field">
    <mat-label>Amount</mat-label>
    <input [formControl]="amount"
    currencyMask
    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      matInput 
    type="text" 
    class="example-right-align"
    placeholder="0">
  </mat-form-field>
  <mat-slide-toggle [formControl]="free" class="demo-button">Free</mat-slide-toggle>
  <br>
  <button mat-raised-button (click)="addData()" class="demo-button">Add data</button>
  <button mat-raised-button (click)="businessService.removeData()">Clear table</button>
  <!--  
  <button mat-raised-button (click)="clearFields()">Clear fields</button>
  <button mat-raised-button[disabled]="!dataToDisplay.length"
  (click)="removeData()"
  class="demo-button">
  Remove select data
</button>
<button mat-raised-button (click)="clearTable()">Clear table</button>
<button mat-raised-button (click)="updateCurrentBalance()">Update Current Balance</button>
<button mat-raised-button (click)="simulation()">Simulation</button>-->

</div>
<mat-tab-group>
  <mat-tab label="Balance">
    <br>
    <br>
    <app-balance-component />
  </mat-tab>
  <mat-tab label="Refund"> refund </mat-tab>

</mat-tab-group>


