
  <table mat-table [dataSource]="balanceStorage.balance_dataSource()" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">
    
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="balanceStorage.balance_selection().hasValue() && isAllSelected()"
                      [indeterminate]="balanceStorage.balance_selection().hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? balanceStorage.balance_selection().toggle(row) : null"
                      [checked]="balanceStorage.balance_selection().isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef> Total {{balanceLength()}} </td>
    </ng-container>
  
    <!-- Idbalance Column -->
    <ng-container matColumnDef="idbalance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by idbalance"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.idbalance}} </td>
      <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> {{translation.translate('nameLabel')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      <td mat-footer-cell *matFooterCellDef>{{translation.translate('currencyPrefix')}}{{totalForPerson() | number:'1.2-2'}} {{translation.translate('forPerson')}}  </td>
    </ng-container>
  
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount"> {{translation.translate('amountLabel')}} </th>
      <td mat-cell *matCellDef="let element"> {{translation.translate('currencyPrefix')}}{{element.amount | number:'1.2-2'}} </td>
      <td mat-footer-cell *matFooterCellDef>{{translation.translate('currencyPrefix')}}{{totalAmount() | number:'1.2-2'}}</td>
    </ng-container>
  
    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by balance"> {{translation.translate('balanceLabel')}} </th>
      <td mat-cell *matCellDef="let element"> {{translation.translate('currencyPrefix')}}{{element.balance | number:'1.2-2'}} </td>
      <td mat-footer-cell *matFooterCellDef>{{translation.translate('currencyPrefix')}}{{totalBalance() | number:'1.2-2'}}</td>
    </ng-container>
  
   <!-- Current Balance Column -->
   <ng-container matColumnDef="current_balance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by balance">Current Balance </th>
    <td mat-cell *matCellDef="let element"> {{translation.translate('currencyPrefix')}}{{element.current_balance | number:'1.2-2'}} </td>
    <td mat-footer-cell *matFooterCellDef>-</td>
  </ng-container>

  <!-- Positive Current Balance Column -->
    <ng-container matColumnDef="positive_balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by positive_balance"> Positive Balance </th>
      <td mat-cell *matCellDef="let element">{{translation.translate('currencyPrefix')}}{{element.positive_balance | number:'1.2-2'}}</td>
      <td mat-footer-cell *matFooterCellDef>0</td>
    </ng-container>

    <!-- Free Column -->
    <ng-container matColumnDef="free">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by free"> {{translation.translate('freeLabel')}} </th>
      <td mat-cell *matCellDef="let element"> 
        @if (element.free) {
          <mat-icon aria-hidden="false" aria-label="icon" fontIcon="done"></mat-icon>
        } @else {
          <mat-icon aria-hidden="false" aria-label="icon" fontIcon="close"></mat-icon>
        }
       </td>
       <td mat-footer-cell *matFooterCellDef>{{totalNoFree()}} {{translation.translate('noFreeLabel')}}</td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="balanceStorage.balance_selection().toggle(row)">
    </tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
  
